.date {
  &__box {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid black;
      background-color: #f3f2f1;
      padding: 10px;
    }
  }

  &__text {
    &__dayNumber {
      font-size: 1.5rem;
    }
  }
}
