:root {
  --global-primary-background-color: #A7B79F;
  --global-secondary-background-color: #FFFFFF;
  --global-footer-background-color: #E9EFE9;
  --global-neutral-background-color: #F8F9FA;
  --global-primary-text-color: #0B3B3C;
}
